// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: grey;
    text-align: center;
}
.content {
    margin: 100px 0;
}
header, footer {
    background-color: darkgray;
}